  <li class="media bottom-border">
    <a class="pull-left" href="#">
      <%= image_tag "brand.png", class: 'media-object' %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= comment.content %></h4>
      <%= comment.content %>
    </div>
  </li>
